# Configuración de Base de Datos
DATABASE_URL="postgres://usuario:password@host:puerto/base_datos?sslmode=disable"

# Configuración de Seguridad
JWT_SECRET="su-secreto-muy-seguro"
GEMINI_API_KEY="su-api-key-de-google-gemini"

# Configuración de Servidor
PORT=80
NODE_ENV="production"

# Configuración de Redis
REDIS_URL="redis://localhost:6379"
